@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


//---| Index page CSS |---------------------------------------------------------------------


// | Variables for screen sizes |

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// Color variables

$text-color: #c1a871;
// Alt text color: #9e8c64;
// #a8956c
// background-1: #3c3e3a;
// #545750
$background-color1: #3c3e3a;
$background-color2: #111113;

//Mixins

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

// Custom devices
@mixin rwd($screen) {
    @media (min-width: #{$screen+'px'}) {
        @content;
    }
 }

* {
    font-family: 'Playfair Display', serif;
}

html, body {
    min-height: 100%;
    height: auto; 

    h1.drop {
        padding-bottom: 20px;
        color: $text-color;
    }
    
    li {

        a {
            text-decoration: none;
            color: $text-color;
            transition: all 0.250s;
        }

        a:hover {
            color: #202020;
            transition: all 0.250s;
        }

    }

    .bg-color {
        background: radial-gradient($background-color1, $background-color2);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .nav-list {
        width: 100%;
        height: 100%;
    }

    div {
        margin-top: 70px;
        padding: 70px;
        align-items: center;
        text-shadow: 4px 4px 10px #000000;
    }

    footer.index-footer {
        display: flex;
        justify-content: center;

        ul {
            display: grid;
            grid-template-columns: 50px 50px 50px 50px;
        }

        ul:hover {
            .fa {
                opacity: 0.5;
                transition: all 0.250s;
            }

            .fa:hover {
                opacity: 1;
                transition: all 0.250s;
            }
        }

        
        .fa {
            color: $text-color;
            font-size: 20px;
        }

        .fa:hover {
            opacity: 1;
            color: $text-color;
            transition: all 0.200s;
        }

    }

}

ul {
    list-style:none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    width: clamp(200px, 100%, 1200px);
    
    li {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    li:not(:first-child){
        border-left: 1px solid #a8956c;
        position: relative;
        padding-left: 50px;
    }

    .drop {
        opacity: 0;
        animation: fadeIn 1s ease forwards;
        animation-delay: calc(var(--order) * 100ms);
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 100;}
    }
}

@include sm {
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: normal;
        padding: 0;
        margin: 0;
        width: 100%;

        li:not(:first-child){
            border-left: 0;
            padding-left: 0;
            padding-top: 15px;
        }
    }
}

@include md {
    .grid-container {
        justify-content: space-evenly;
        li {
            justify-content: space-evenly;
            position: static;
        }
    }
}

//------------------------------------------------------------------------------------------

// Footer for other pages

.footer {
    background-color: #3c3e3a;
}

// //---| Home page CSS |---------------------------------------------------------------------